.App {
  text-align: center;
}

body {
  background-color: #282c34;
}

.track {
  border: 1px solid white;
  list-style: none;
}

.track:hover {
  background-color: #454a55;
  cursor: pointer;
}

.Track-list {
  padding-left: 0px;
}
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Player-button {
  border: 1px solid white;
  background-color: #282c34;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  height: 30px;
  width: 100px;
  display: inline-block;
  margin: 10px;
}

.Player-button:hover {
  background-color: #454a55;
  cursor: pointer;
}